@import 'config';

.inner {
    padding: 0 30px;
    .book-wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 11.1vw;
        perspective: 4000px;
    }
    .page {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: 30px;
        border-radius: 30px;
        transform: rotateX(0);
        transform-origin: 50% 100%;
        /* transition: transform ease-out; */
        &.page-front {
            background-color: $color-black;
            z-index: 300;
            /* transform: rotateX(-45deg); */
            /* animation: cardOpen1 .2s forwards; */
        }
        &.page2 {
            background-color: #2835f8;
            z-index: 90;
            /* transform: rotateX(-35deg); */
            /* animation: cardOpen2 .3s forwards; */
        }
        &.page3 {
            background-color: #ff0;
            z-index: 80;
            /* transform: rotateX(-25deg); */
            /* animation: cardOpen3 .3s forwards; */
        }
        &.page4 {
            background-color: #ff003d;
            z-index: 75;
            /* transform: rotateX(-15deg); */
            /* animation: cardOpen4 .3s forwards; */
        }
        &.page5 {
            background-color: #05ff00;
            z-index: 70;
            /* transform: rotateX(-5deg); */
            /* animation: cardOpen5 .3s forwards; */
        }
    }
}