/* variables */
@font-face {
    font-family: '__haus_headline_78a302';
    src: url(../fonts/e269debde48a755f.p.ttf) format(truetype);
    font-display: swap;
    font-weight: 100 900;
}

/* colors */
//기본 컬러
$color-white: #fff;
$color-white-01: rgba($color-white, .1);

$color-gray: #eee;/* 임의의 컬러 */

$color-black: #000;
$color-black-01: rgba($color-black, .1);

/* mixins */
//vs
@mixin vs {
    position: absolute;
    display: inline-block;
    content: '';
    top: 0;
    left: 0;
}

@mixin vs-b {
    display: block;
    content: '';
}

@mixin vs-ib {
    display: inline-block;
    content: '';
}

//background
@mixin background-cover {
    background: {
        size: cover;
        repeat: no-repeat;
        position: center;
    }
}

@mixin background-contain {
    background: {
        size: contain;
        repeat: no-repeat;
        position: center;
    }
}

//flex
@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin flex-justify-center {
    display: flex;
    justify-content: center;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
